<!DOCTYPE html>
<html layout:decorate="~{common/layout/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:remove="all">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for blank page layout" name="description" />
        <meta content="" name="author" />

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="../public/assets/metronic_v4.7.5/google/google.css" rel="stylesheet" type="text/css" />
        <link href="../public/assets/metronic_v4.7.5/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../public/assets/metronic_v4.7.5/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../public/assets/metronic_v4.7.5/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../public/assets/metronic_v4.7.5/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../public/assets/metronic_v4.7.5/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../public/assets/metronic_v4.7.5/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->

        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../public/assets/metronic_v4.7.5/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="../public/assets/metronic_v4.7.5/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="../public/assets/metronic_v4.7.5/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->

        <link rel="shortcut icon" href="../public/assets/common/images/web-site-icon.ico" />

        <!-- BEGIN CUSTOM COMMON STYLES -->
        <link href="../public/assets/common/common.css" rel="stylesheet" type="text/css" />
        <!-- END CUSTOM COMMON STYLES -->
    </th:block>

    <title>测试</title>

    <!-- BEGIN CUSTOM PAGE STYLES -->
    <link href="../public/assets/zTree3.5/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'assets/zTree3.5/css/zTreeStyle/zTreeStyle.min.css'}" />
    <!-- END CUSTOM PAGE STYLES -->
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top"></div>
        <!-- END HEADER -->

        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"></div>
        <!-- END HEADER & CONTENT DIVIDER -->

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" layout:fragment="content">
                    <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Title</td>
                                <td>Text</td>
                                <td>Due to</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4">No tasks</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><a href="view.html">Title ...</a></td>
                                <td>Text ...</td>
                                <td>July 11, 2012 2:17:16 PM CDT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--[if lt IE 9]>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/respond.min.js"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/excanvas.min.js"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->

    <!-- BEGIN CORE PLUGINS -->
    <script src="../public/assets/metronic_v4.7.5/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../public/assets/metronic_v4.7.5/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/jquery-validation/js/jquery.validate.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/jquery-validation/js/localization/messages_zh.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="../public/assets/metronic_v4.7.5/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="../public/assets/metronic_v4.7.5/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <!-- BEGIN COMMON -->
    <script src="../public/assets/common/js/common.js" type="text/javascript"></script>
    <!-- END COMMON -->

    <!-- BEGIN CUSTOM PAGE SCRIPTS-->
    <th:block layout:fragment="customScripts" th:remove="tag">
        <script src="../public/assets/zTree3.5/js/jquery.ztree.core-3.5.min.js" th:src="@{${staticResourceServerUrl}+'/assets/zTree3.5/js/jquery.ztree.core-3.5.min.js'}" type="text/javascript"></script>
    </th:block>
    <!-- END CUSTOM PAGE SCRIPTS-->
</body>
</html>