<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title, links)" th:remove="tag">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for blank page layout" name="description" />
    <meta content="" name="author" />

    <title th:text="${title}+' - '+${webTitle}">Head</title>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../../../public/assets/metronic_v4.7.5/google/google.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/google/google.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/font-awesome/css/font-awesome.min.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/simple-line-icons/simple-line-icons.min.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/bootstrap/css/bootstrap.min.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'}" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../../public/assets/metronic_v4.7.5/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/css/components.min.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/global/css/plugins.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/css/plugins.min.css'}" />
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../../../public/assets/metronic_v4.7.5/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/layout/css/layout.min.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/layout/css/themes/darkblue.min.css'}" />
    <link href="../../../public/assets/metronic_v4.7.5/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/layout/css/custom.min.css'}" />
    <!-- END THEME LAYOUT STYLES -->

    <link rel="shortcut icon" href="../../../public/assets/common/images/web-site-icon.ico" th:href="@{${staticResourceServerUrl}+'/assets/common/images/web-site-icon.ico'}" />

    <!-- BEGIN CUSTOM COMMON STYLES -->
    <link href="../../../public/assets/common/common.css" rel="stylesheet" type="text/css" th:href="@{${staticResourceServerUrl}+'/assets/common/common.css'}" />
    <!-- END CUSTOM COMMON STYLES -->

    <!-- BEGIN CUSTOM PAGE STYLES -->
    <th:block th:replace="${links}"></th:block>
    <!-- END CUSTOM PAGE STYLES -->
</head>
<body>
</body>
</html>