<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>

<body th:fragment="scripts(scripts)" th:remove="tag">
    <!--[if lt IE 9]>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/respond.min.js" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/respond.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/excanvas.min.js" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/excanvas.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/ie8.fix.min.js" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/ie8.fix.min.js'}"></script>
    <![endif]-->

    <!-- BEGIN CORE PLUGINS -->
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/jquery.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/jquery.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/bootstrap/js/bootstrap.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/js.cookie.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/js.cookie.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/jquery.blockui.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/jquery.blockui.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'}"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="../../../public/assets/metronic_v4.7.5/global/scripts/app.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/scripts/app.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/jquery-validation/js/jquery.validate.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/scripts/app.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/jquery-validation/js/localization/messages_zh.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/jquery-validation/js/localization/messages_zh.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/global/plugins/bootbox/bootbox.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/global/plugins/bootbox/bootbox.min.js'}"></script>
    <!-- END THEME GLOBAL SCRIPTS -->

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="../../../public/assets/metronic_v4.7.5/layouts/layout/scripts/layout.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/layout/scripts/layout.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/layouts/layout/scripts/demo.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/layout/scripts/demo.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/global/scripts/quick-sidebar.min.js'}"></script>
    <script src="../../../public/assets/metronic_v4.7.5/layouts/global/scripts/quick-nav.min.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/metronic_v4.7.5/layouts/global/scripts/quick-nav.min.js'}"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

    <!-- BEGIN COMMON SCRIPTS-->
    <script src="../../../public/assets/common/js/common.js" type="text/javascript" th:src="@{${staticResourceServerUrl}+'/assets/common/js/common.js'}"></script>
    <!-- END COMMON SCRIPTS-->

    <!-- BEGIN CUSTOM PAGE SCRIPTS-->
    <th:block th:replace="${scripts}"></th:block>
    <!-- END CUSTOM PAGE SCRIPTS-->
</body>
</html>